<h2>Hey why don't you make a new sub on our cool website</h2>


<form class="" action="<%=subs_url%>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="Title">Title</label>

  <input type="text" name="subs[title]" value="">
   <br>
   <br>

  <label for="description">Description</label>
  <br>

  <textarea name="subs[description]" rows="8" cols="80"></textarea>
  <input type="submit" name="" value="post">

</form>
